<div class="card border-0" style="width: 18rem;">
    <div class = "d-flex justify-content-center">
        <img src="../../assets/img/Gui.jpeg" class="card-img-top rounded-circle w-50"  alt="Imagem">
    </div>
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Desenvolvedor Java Junior FullStack</p>
      <a href="https://www.linkedin.com/in/guilherme-marcionilo/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

      <a href="https://github.com/Guilherme-Marcionilo" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    
    </div>
  </div>